nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

button{
    border: none;
    padding: 15px 25px;
    color:#fff;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    gap: 10px;
}

button:hover{
    opacity: 0.7;
}

ul li:nth-child(2) button{
    background-color: #24aad5;
    
}

ul li:nth-child(3) button{
    background-color: #ff6841;
}